<style type="text/css">
    body{
      font-family:sans-serif;
      width: 800px;
      font-size:20;
      margin: 0 auto;
      padding: 10px;
    }
  
    label{
      display: block;
      font-size:20px;
      }
      input[type=text]{
          width:400px;
          font-size:20px;
          padding:2px;          
      }
      textarea{
          width:800px;
          height:40px;
          font-size:17px;
          font-family:monospace;
          }
       input[type=submit]{
          font-size:20;
       }
       .food_title{
	    position: relative;	  
            font-size:30px;
            font-family:sanserif;
            top: 10%; 
            left: 0px;
            color: #6E6E6E; 
           }  
           .food_price
           {
            position: relative;
            font-size:25px;
            font-family:sanserif;
            top: 6%; 
            left: 300px;
            color: #A4A4A4; 
           }	  
	    
	   .food_date
           {
            position: relative;
            font-size:25px;
            font-family:sanserif;
            top: 2%; 
            left: 600px;
            color: #A4A4A4; 
           }
	  .food_picture
           {
            position: relative;            
            left: 1100px;
	    top: -5%; 
            color: #A4A4A4; 
           }
	   
       .post-heading{
           position: relative;
           border-bottom: 4px solid #666;
           }
        .login_placeholder{
            position: absolute;
            top: 02%; 
            left: 1200px;
           }
        .edit_placeholder{
            position: absolute;
            top: 02%; 
            left: 1000px;
           }   
        .content_place{
            position: absolute;
            font-size:24px;
            font-family:sanserif;
            top: 02%; 
            left: 10px;
           }
		.whosaid_place{
            position: relative;
            top: 10%; 
            font-size:14px;
            font-family:monospace;
            color: grey            
           }  
          .category_place{
            position: relative;
            left: 1200px;
            top: 10%; 
            font-size:14px;
            font-family:monospace;
            color: grey;          
           }
	  
           
    </style>