<style type="text/css">
    body{
      font-family:sans-serif;
      width: 800px;
      font-size:20;
      margin: 0 auto;
      padding: 10px;
    }
    label{
      display: block;
      font-size:20px;
      }
      input[type=text]{
          width:400px;
          font-size:20px;
          padding:2px;          
      }
      textarea{
          width:400px;
          height:300px;
          font-size:17px;
          font-family:monospace;
          }
      input[type=datetime-local]{
          width: 400px;
          padding:2px;          
	  font-size:20px;
	  font-family:monospace;
          #height: 52px;
      }
      input[type=number]{
          width: 150px;
          padding:2px;          
	  font-size:20px;
	  font-family:monospace;
          #height: 52px;
      }
       input[type=submit]{
          font-size:20;
       }
       .post-heading{
           position: relative;
           border-bottom: 4px solid #666;
           }

    </style>