{% extends "base_page.html" %}

{% block content %}
<div class="container marketing" style="margin-top:80px;">
    <div class="span6" style="padding-right:-20px; margin-bottom: 100px;">	
		<h3 style="font-family: fantasy;margin-left:60px;margin-bottom: 40px;">Here is how it works!</h3>
		<p>
                    How It Works was the 6th release from Australian punk-rock group Bodyjar. The single from the album "Not the Same" was used by Pepsi in an advertising campaign in Australia. It was also used in two video games: Tony Hawk's Pro Skater 3 and MX Superfly.
                </p>
	</div>
    
    <div class="span5" style="margin-bottom: 100px;">	
		<h3 style="font-family: fantasy;margin-left:100px;margin-bottom: 40px;">Here is how it works!</h3>
		<iframe style="border-radius: 15px;" width="520" height="325" src="//www.youtube.com/embed/YJSoEbNxYKE" frameborder="0" allowfullscreen ></iframe>
    </div>
</div>	

{% endblock %}