<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="./bootstrap/docs-assets/ico/favicon.png"> -->
    <link rel="shortcut icon" href="./bootstrap/docs-assets/ico/logo.jpg">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      
    <title>Cooked@Home</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="./bootstrap/dist/css/bootstrap.css" rel="stylesheet"> -->
    <link href="./css/bootstrap.css" rel="stylesheet">
      <link href="./css/bootstrap.min.css" rel="stylesheet">
	<link href="./css/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./bootstrap/docs-assets/js/html5shiv.js"></script>
      <script src="./bootstrap/docs-assets/js/respond.min.js"></script>
      <script src="./js/bootstrap-collapse.js"></script>
    <script src="./js/bootstrap-collapse-min.js"></script>
    <![endif]-->
        <!-- link to jQuery library -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <!-- link to simpleCartjs -->
    
    <script src="./js/simpleCart.js"></script>

    
    <!-- Custom styles for this template -->
    <link href="./css/carousel.css" rel="stylesheet">
      
    <link rel="stylesheet" href="./css/SimpleCart.css">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    {% block navbar %}
    

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
    <!--<div class="navbar">      -->
      <div class="navbar-inner">
        <div class="container">
	  
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
	  <a class="brand" href="/" style="color:yellow;">Made@Home</a>
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">	      
	      <li class={{isactive.0}}><a href="/">Home</a></li>
	      <li class={{isactive.2}}><a href="/best_offers">Today Offers!</a></li>
	      {% if userid%}
		<li class={{isactive.3}}><a href="/_favourties?u={{userid}}">My Favourites</a></li>
		{% if newmessage %}
		  <li class={{isactive.4}}><a href="/message_inbox"><span class="fa-stack fa-lg" style="margin-top:-12px;margin-right:-5px;"> <i class="fa fa-envelope fa-stack-1x" ></i><i style="color:red;margin-top:-15px;margin-left:17px;" class="fa fa-bell fa-stack"></i></span></a></li>
		{% else %}
		  <li class={{isactive.4}}><a href="/message_inbox"><i style="margin-right:-15px;" class="fa fa-envelope fa-1x" ></i></a></li>
		{% endif %}
	      {% else %}
		<li class={{isactive.1}}><a href="/how_it_works">How it works</a></li>
	      {% endif %}
	      
	      <li>
		
	      </li>
	      <li class="dropdown" style="margin-left: 20px;">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"  >
		  <i class="fa fa-shopping-cart fa-lg"></i>
		  <span class="simpleCart_total" style="padding-left: 5px;"></span>
		  <!-- <span class="simpleCart_quantity"></span> items -->		  
		  <b class="caret"></b>
		</a>		
	      	<ul class="dropdown-menu">
		  <!-- <li> &nbsp &nbsp <span class="simpleCart_total" style="padding-left: 5px;"></span> </li> -->
		  <li> <a href="/_checkout">Checkout</a> </li>
		  <li> <a href="javascript:;" class="simpleCart_empty"> Empty Cart</a> </li>
	      	</ul>		
              </li>
	    </ul>
              	
            <!--
	    <form class="navbar-search pull-left" action="">
	      <input type="text" class="search-query span2" placeholder="Search">
	    </form>
	    -->
            <ul class="nav pull-right"style="padding-right: 20px;" >
	      {% if userid%}
		{% if chef_flag%}			      
		  <li><a href="/_chef?u={{userid}}">My restaurant</a></li>
		  <li class="divider-vertical></li>
		{% else %}
		  <li><a href="/chef_signup">Become a Chef!</a></li>
		{% endif %}
	      {% endif %}	
              <li class="dropdown">
	      {% if userid%}
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"  >{{userid}} <b class="caret"></b></a>		
	      	<ul class="dropdown-menu">
	          <li><a href="/welcome">My dashboard</a></li>
		  <li><a href="/profile_settings">Profile settings</a></li>
		  {% if chef_flag%}
		    <li class="divider"></li>			  
		    <li><a href="/newpost">Offer new meal</a></li>		  		
		  {% endif %}
	    	  <li class="divider"></li>			  
		  <li><a href="/logout">Logout</a></li>
	      	</ul>
		
		
	      {% else %}
		  <li><a href="/login">Sign in</a></li>
		  
		  <!--
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Sign in<b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    <li><a href="/login">Sign in</a></li>					
		    <li class="divider"></li>
		    <li class="dropdown-header">Or...</li>
		    <li><a href="/signup">Signup</a></li>					
		  </ul>
		  -->
		{% endif %} 
              </li>
            </ul>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /navbar-inner -->
    </div>
    </div>
    <!-- ============================================ -->
    
    
    {% block content %}{% endblock %}
    


 <!-- FOOTER -->
 <div class="container" style="margin-top:100px;">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Cooked@Home, Inc. &middot; <a href="/about">About Us</a> &middot; <a href="/Privacy">Privacy</a> &middot; <a href="/terms">Terms</a> &middot; <a href="/contacts">Contact Us</a></p>
      </footer>

    </div><!-- /.container -->
    
    <script src="./bootstrap/docs-assets/js/jquery.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bootstrap/docs-assets/js/holder.js"></script>
    <script src="./js/bootstrap-collapse.js"></script>
    <script src="./js/bootstrap-collapse-min.js"></script>
    {% endblock %}
  
