{% extends "base_page.html" %}

{% block content %}
    

    
    
    <div class="container marketing" style="margin-left:15%;">
        <div class="simpleCart_shelfItem">
        <div style="margin:110px auto 50px auto;">            
            <h1 style="font-family: fantasy; font-size: 3em;width:100%;margin-left: 250px;" class="item_name">{{food.0}}</h1>	    
        </div>
        <div class="row" style="float: left;width:28%;padding-right: 100px;">                
                <p hidden class="item_number">{{key}}</p>
                <p hidden class="item_chef">{{chef_name}}</p>
                <p hidden class="item_deliv">{{delivery_time}}</p>
                
                <table class="table" style="font-family:fantasy; font-size: 1.5em;height:430px">
                    <col width="1060px">
                    <col width="320px">
                    <tr>                        
                        <td  style="vertical-align: middle;">Price</td>
                        <td  style="vertical-align: middle;" class="item_price">{{food.1}} CHF</td>
                        </span>
                    </tr>
                    <tr>
                        <td  style="vertical-align: middle;">From</td>
                        <td  style="vertical-align: middle;">{{food.3}}</td>                        
                    </tr>
                    <tr>
                        <td  style="vertical-align: middle;">To</td>
                        <td  style="vertical-align: middle;">{{food.4}}</td>
                    </tr>
                    <tr>
                        <td  style="vertical-align: middle;">Chef</td>
                        <td  style="vertical-align: middle;"><a href="./_chef?u={{chef_name}}">{{chef_name}}</a></td>                
                    </tr>
                    <tr>
                        <td  style="vertical-align: middle;">Chef Rating</td>
                        <td  style="vertical-align: middle;">{{chef_rate|safe}}</td>                
                    </tr>
                    <tr>
                        <td  style="vertical-align: middle;">Number left?</td>
                        <td  style="vertical-align: middle;">{{meal_left}}</td>                
                    </tr>    
                </table>
                
                <!--Paypal code
                <form target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" >
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="business" value="hesam.salavati@epfl.ch">
                    <input type="hidden" name="lc" value="CH">
                    <input type="hidden" name="item_name" value="{{food.5}}">
                    <input type="hidden" name="item_number" value="{{key}}">
                    <input type="hidden" name="amount" value="{{food.1}}">
                    <input type="hidden" name="currency_code" value="CHF">
                    <input type="hidden" name="button_subtype" value="products">
                    <input type="hidden" name="shipping" value="1.00">
                    <input type="hidden" name="add" value="1">
                    <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHosted">
                    <input type="hidden" name="shopping_url" value="http://localhost:8083/_meal?m={{key}}">
                    <input type="hidden" name="return" value="http://localhost:8083/_meal?m={{key}}">

                    
                    <!--
                    <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_addtocart_120x26.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                   
                </form>
                -->
                <input type="text" value="1" class="item_Quantity" style="width:30px;height:33px;text-align: center;font-size:1em;float:left;margin-right: 10px;">
                <a class="item_add" href="javascript:;">                    
                    <button type="submit" class="btn btn-primary btn-large" style="width:80%;
                        margin-bottom:20px;text-align: center;font-size: 2em;
                        border-radius: 4px;">
                        Add to cart!
                    </button>
                </a>
                

        </div>
        </div>
        
        
        <!-- ======================================================= -->
        <!-- Carousel
        ================================================== -->
        <div class="row" style="width:68%;float: left;">
            <div id="myCarousel" class="carousel slide" >
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for img_no in img_number_list%}
                        {% if not forloop.counter0%}
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        {% else %}
                            <li data-target="#myCarousel" data-slide-to="{{img_no}}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for img_no in img_number_list%}
                        {% if not forloop.counter0%}
                        <div class="item active">
                        {% else %}
                        <div class="item ">
                        {% endif %}        
                            <img src="/_image?k={{key}}&n={{img_no}}" >
                        </div>
                    {% endfor %}
                </div>
                {% if img_number_list|length > 1 %}
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                {%endif%}
            </div><!-- /.carousel -->
        </div>
    </div>
<div class="container marketing" style="margin-left:15%;width:1200px;">
      <div class="row">
        <p class="lead" style="text-align: justify;">{{food_description}}</p>
      </div>
</div>
    
    
    
    
    <!-- SlidesJS Required: Link to jQuery -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Link to jquery.slides.js -->
  <script src="./js/jquery.slides.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
  <script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
  <!-- End SlidesJS Required -->
   
  <script src="simpleCart.js"></script>
    <script>
      simpleCart({
        checkout: {
          type: "PayPal",
          email: "hesam.salavati-facilitator@epfl.ch",
          sandbox: true,
          cancel: "http://madeatmyhome.appspot.com/_checkout",
          success: "http://madeatmyhome.appspot.com/_paymentstatus"
        }
      });
    </script>
    
    
  </body>
</html>
{% endblock %}>

<!-- OLD VERSION -->
<!--
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/display_post_style.css">
</head>

<div class = edit_placeholder> <a href='/newquote'> New Quote</a>| <a href='/_allquotes?u={{userid}}'>My Quotes!</a> | <a href='/_edit_profile?p={{userid}}'> Change preferences </a> 
</div>

<div> <h2> Chef {{chef_name}} </h2> </div>
<hr>
<br>
<label style="color:black;left: 8px;position:absolute; top:180px; font-size:25;">		    
    Title
</label>
<label style="color:black;left: 300px;position:absolute; top:180px;font-size:25;">		    
    Price
</label>
<label style="color:black;position:absolute;top:180px;left: 600px;font-size:25;">		    
    Will be ready for
</label>

<div class = food_title>		    
    {{food.0}}
</div>
<div class = food_price>
    {{food.1}}    
</div>
<div class = food_date>
    {{food.3}}    
</div>
<br>
<br>
        
{% for img_no in img_number_list%}
 <img src='/_image?k={{key}}&n={{img_no}}' height="150" width="200"></img>

{% endfor %}

-->
