{% extends "base_page.html" %}

{% block content %}



<div class="container marketing" style="margin-left:15%;">
    <div style="width:500px; margin:50px auto 50px auto; border:solid; border-radius: 10px;text-align: center;">
        <h1 style="font-size:2.2em;font-family:fantasy;margin-bottom: 20px;"> Something went auwfully wrong! </h1>
        <h2 style="font-size:1.3em;font-family:fantasy;margin-bottom: 20px;"> We are sorry that we could not process your order! </h2>    
    </div>
  </body>
</html>
{% endblock %}>